<%= form_for(object) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="checkboxes">
    <strong>Lines:</strong>
    </br>
    <% @lines.each do |line| %>
      <input type="checkbox" name="line_ids[]" value="<%= line.id %>" <%# checked="<%= @station.stops.line_id %>><%= line.name %></br>
    <% end %>
  </div>

  <%= f.submit(:class => "btn btn-warning", :id => "margin") %>
<% end %>
